absl-py==2.1.0
accelerate==0.27.2
aiosignal==1.3.1
annotated-types==0.6.0
attrs==23.2.0
beartype==0.17.2
cachetools==5.3.3
charset-normalizer==3.3.2
comm==0.2.1
einops==0.7.0
einops-exts==0.0.4
ema-pytorch==0.4.2
flatbuffers==24.3.6
fonttools==4.49.0
frozenlist==1.4.1
fsspec==2024.2.0
google-auth==2.28.1
google-auth-oauthlib==1.0.0
grpcio==1.62.0
h5py==3.10.0
httpcore==1.0.4
huggingface-hub==0.21.4
idna==3.6
importlib-metadata==7.0.2
importlib-resources==6.1.3
intel-openmp==2021.4.0
iprogress==0.4
ipython==8.12.3
jax==0.4.13
joblib==1.3.2
json5==0.9.22
jupyter==1.0.0
jupyter-client==8.6.1
jupyter-console==6.6.3
jupyter-core==5.7.2
jupyter-events==0.9.0
jupyter-lsp==2.2.4
jupyter-server==2.13.0
jupyter-server-terminals==0.5.2
jupyterlab==4.1.4
jupyterlab-server==2.25.3
keras==2.12.0
kornia==0.7.1
libclang==16.0.6
lightning-utilities==0.10.1
markdown==3.5.2
markupsafe==2.1.5
matplotlib==3.7.5
mkl==2021.4.0
ml-dtypes==0.2.0
multidict==6.0.5
nbclient==0.9.0
nbconvert==7.16.2
notebook==7.1.3
opencv-python==4.9.0.80
pandas==2.0.3
pandocfilters==1.5.1
platformdirs==4.2.0
prompt-toolkit==3.0.43
protobuf==4.25.3
psutil==5.9.8
pyasn1==0.5.1
pyasn1-modules==0.3.0
pydantic==2.6.3
pydantic-core==2.16.3
pympler==1.0.1
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytorch-lightning==2.2.1
# - pywin32==306
pyzmq==25.1.2
qtconsole==5.5.1
qtpy==2.4.1
rdkit==2023.9.5
referencing==0.33.0
requests-oauthlib==1.3.1
rsa==4.9
safetensors==0.4.2
seaborn==0.13.2
stack-data==0.6.3
tbb==2021.12.0
tensorboard==2.12.3
tensorboard-data-server==0.7.2
tensorflow==2.12.0
tensorflow-cpu==2.12.0
tensorflow-estimator==2.12.0
# tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
terminado==0.18.0
threadpoolctl==3.3.0
torch==2.3.0
torchaudio==2.3.0
# torchmetrics==1.3.1
# torchvision==0.16.2+cu121
torchvision==0.18.0
tqdm==4.66.2
traitlets==5.14.1
types-python-dateutil==2.8.19.20240106
typing-extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
werkzeug==3.0.1
x-transformers==1.27.21
yarl==1.9.4
torchmetrics
